[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = git://github.com/vim-scripts/scratch.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/textile"]
	path = bundle/textile
	url = git://github.com/timcharper/textile.vim.git
[submodule "bundle/limp"]
	path = bundle/limp
	url = https://github.com/vim-scripts/Limp
[submodule "bundle/slimv"]
	path = bundle/slimv
	url = https://github.com/vim-scripts/slimv.vim
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty
[submodule "bundle/minibufexplorerpp"]
	path = bundle/minibufexplorerpp
	url = https://github.com/vim-scripts/minibufexplorerpp
